<div class="container text-center">
  <div class="jumbotron">
    <h1>
      <img src="/images/logo.png" style="height: 1em;">
      Bonfire
    </h1>

    <p>
      Bonfire is a platform to help you and your friends connect to your community.
    </p>
    <a class="btn-find btn btn-success" href="/events">Find more events near you</a>
  </div>

  <div class="row">
    <div class="lead-tile col-md-4">
      <h3>Education</h3>
      <img class="lead-img" src="/images/categories/3.png">
      <p class="lead-text">Help educate your comminity</p>
    </div>

    <div class="lead-tile col-md-4">
      <h3>Volunteering</h3>
      <img class="lead-img" src="/images/categories/9.png">
      <p class="lead-text">Volunteer and give back</p>
    </div>

    <div class="lead-tile col-md-4">
      <h3>Health</h3>
      <img class="lead-img" src="/images/categories/7.png">
      <p class="lead-text">Improve the community health and lifestyle</p>
    </div>
  </div>
</div>
