<div class="container">
  <div class="jumbotron">
    <h1>
      <img src="/images/logo.png" style="height: 1em;">
      Bonfire
    </h1>

    <p>
      Bonfire is the best app for groups and organizations to arrange events.
    </p>
  </div>

  <h2>Who we are</h2>
  <h2>How Bonfire helps you</h2>
  <h2>Our team</h2>
</div>
