<div class="container text-center">
  <div class="jumbotron">
    <h1>
      <img src="/images/logo.png" style="height: 1em;">
      Bonfire
    </h1>

    <p>
      Bonfire is a platform to help you and your friends connect to your community.
    </p>
    <a class="btn-find btn btn-success" href="/events">Find more events near you</a>
  </div>

  <div class="row">
    <div class="lead-tile col-md-4">
      <h3>Education</h3>
      <img class="img-category" src="/images/categories/3.png">
      <p class="lead-text">Help educate your comminity</p>
    </div>

    <div class="lead-tile col-md-4">
      <h3>Volunteering</h3>
      <img class="img-category" src="/images/categories/9.png">
      <p class="lead-text">Volunteer and give back</p>
    </div>

    <div class="lead-tile col-md-4">
      <h3>Health</h3>
      <img class="img-category" src="/images/categories/7.png">
      <p class="lead-text">Improve the community health and lifestyle</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <h2>Who we are</h2>
      <p>Bonfire is a social media center that helps connect your friends and encourage people to give back to the community. We strive to raise awareness in the community about local activities and events that need volunteers like you.</p>
    </div>
    <div class="col-md-4">
      <h2>How Bonfire helps you</h2>
      <p>Through our web, iOS, and Android application, we allow friends to share their experiences of volunteer events. Through Bonfire, you can find where your friends are going, and sign up to join them with a click of a button. We've incorporate organizational details for our events to make signing up a breeze.</p>
    </div>
    <div class="col-md-4">
      <h2>Our team</h2>
      <p>Bonfire is dedicated to improving our community. Our mission statement includes raising the amount of volunteer aid to help improve our surroundings. We believe that through the use of our application, we can encourage more people like to you make this world a better place</p>
    </div>
  </div>

</div>
