<div class="container text-center">
  <div class="jumbotron">
    <h1>
      <img src="/images/logo.png" style="height: 1em;">
      Bonfire
    </h1>

    <p>
      Bonfire is the best app for groups and organizations to arrange events.
    </p>
  </div>

  <h2>Events</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Education</h3>
      <img src="/images/categories/3.png">
    </div>

    <div class="col-md-4">
      <h3>Volunteering</h3>
      <img src="/images/categories/9.png">
    </div>

    <div class="col-md-4">
      <h3>Health</h3>
      <img src="/images/categories/7.png">
    </div>
  </div>

  <h2>Who we are</h2>

  <h2>How Bonfire helps you</h2>

  <h2>Our team</h2>
</div>
