<div class="container">
    <div class="row">
        <div class="main-lead jumbotron">
            <h1>
              <img src="/images/logo.png" style="height: 1em;">
              Bonfire
            </h1>
            <p>
              Bonfire is the best app for groups and organizations to arrange events.
            </p>
        </div>
    </div>
</div>
