<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>What your friends are up to...</h3>
            </div>
        </div>
        <div class="event-info row">
            <div class="event-header">
                <h3>EVENTS</h3>
            </div>
            <div class="people-items">
                <% @events.each do |u| %>
                    <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                        <img class="event-tile" src="/<%= u['image'] %>" alt="">
                        <p class="event-caption"><%= u['name'] %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="strip">
</div>
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Some of the events your friends are checking out...</h3>
            </div>
        </div>
    </div>    
</div>

